button{
    border: none;
    transition: 0.15s linear;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

input{
    border: none;
    transition: 0.15s linear;
}

input:focus{
    outline: none;
}